.contenedor-footer .social-link, .contenedor-footer .footer-especialidades, .contenedor-footer, .linksh, .headerp .hp1, .headerp .hp2, .headerp {
  display: flex;
  flex-wrap: wrap;
}

.linksh .linksh1 {
  text-decoration: none;
  color: green;
}

.contenedor-footer .social-link, .contenedor-footer .footer-especialidades, .contenedor-footer, .linksh, .headerp .hp1, .headerp .hp2, .headerp {
  display: flex;
  flex-wrap: wrap;
}

.linksh .linksh1 {
  text-decoration: none;
  color: green;
}

@media only screen and (max-width: 500px) {
  .headerp {
    padding: 15px 20px;
  }
  .headerp .hp1, .headerp .hp2 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 500px), (min-width: 501px) and (max-width: 960px) {
  .social-link {
    justify-content: center;
    margin-top: 20px;
  }
}
.logotopleft {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 20%;
  background-position: top left;
  margin-top: 10px;
}

.headerp {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding: 15px 200px;
  background-color: rgb(0, 20, 70);
  color: rgb(0, 169, 92);
  align-items: center;
  justify-content: space-between;
}
.headerp .hp1, .headerp .hp2 {
  justify-content: left;
}

.linksh {
  position: relative;
  bottom: 100px;
  justify-content: end;
}
.linksh .linksh1 {
  margin: 20px;
}

.bannerimg {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 400px;
}
.bannerimg img {
  width: 100%;
  margin: 5px;
}

.inicio-texto1 {
  text-align: center;
  margin: 50px;
}

.contenedor-servicios {
  display: flex;
  flex-wrap: wrap;
}

.col1, .col2, .col3, .col4 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  height: 70%;
  width: 70%;
}

.colt1, .colt2, .colt3, .colt4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
}

.quienessomost {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.logoquienes {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  transform: rotate(-3deg);
  box-shadow: 30px 2px 235px -11px rgba(0, 0, 0, 0.93);
  -webkit-box-shadow: 30px 2px 235px -11px rgba(0, 0, 0, 0.93);
  -moz-box-shadow: 30px 2px 235px -11px rgba(0, 0, 0, 0.93);
  transition: 1s;
}
.logoquienes:hover {
  transform: rotate(3deg);
}

.textologoquienes {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin-top: 20%;
  justify-content: center;
}

.conoceprofesionales {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.imagenesqs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin-top: 50px;
  margin-left: 25%;
}

.textoimagenesqs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.ptestyev {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 30px 30px;
}

.ptestyev1 {
  width: 50%;
}

.testyevto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.relojimg {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 30px 30px;
  justify-content: flex-end;
  align-items: flex-end;
}

.parrafostyv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.relojes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.p1contactanos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: large;
  text-align: left;
  margin-bottom: 30px;
}

.contenedor-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}
.contenedor-form .form-interno {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.contenedor-form .form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.contenedor-footer {
  color: rgb(0, 169, 92);
  background-color: rgb(0, 20, 70);
  padding: 50px 0;
  justify-content: space-between;
}
.contenedor-footer .lista-footer1 {
  margin-top: 0px;
}
.contenedor-footer .footer-especialidades {
  flex-flow: row wrap;
  justify-content: center;
}
.contenedor-footer footer {
  position: relative;
  bottom: 0%;
  width: 100%;
}
.contenedor-footer .social-link {
  justify-content: end;
  align-items: start;
  flex-direction: column;
  margin-right: 20px;
}
.contenedor-footer .social-link .link1 {
  font-size: 30px;
}
@media only screen and (max-width: 500px), (min-width: 501px) and (max-width: 960px) {
  .contenedor-footer .social-link {
    justify-content: center;
    margin-top: 20px;
  }
  .contenedor-footer .link1 {
    justify-content: center;
    align-items: center;
  }
  .contenedor-footer .contenedor-footer {
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
