//HEADER ESTILOS
.logotopleft {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 20%;
    background-position: top left;
    margin-top: 10px;
  }

  
  .linksh {
    @extend %flex-container;
    position: relative;
    bottom: 100px;
    justify-content: end;
  
    .linksh1 {
      @extend %link-style;
      margin: 20px;
    }
  }