//ESTILOS MAIN
.bannerimg {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 400px;
  
    img {
      width: 100%;
      margin: 5px;
    }
  }
  
  .inicio-texto1 {
    text-align: center;
    margin: 50px;
  }
  //FIN INCIO
  //INICIO SERVICIOS
  .contenedor-servicios {
    display: flex;
    flex-wrap: wrap; }
  
    .col1, .col2, .col3, .col4 {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      height: 70%;
      width: 70%; 
  }
      .colt1, .colt2, .colt3, .colt4 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: left;
        margin-top: 20px;
      }
  //FIN SERVICIOS
  //INICIO QUIENES SOMOS
  .quienessomost {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  //animación + trans + trasnf
    .logoquienes {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      transform: rotate(-3deg);
      box-shadow: 30px 2px 235px -11px rgba(0,0,0,0.93);
      -webkit-box-shadow: 30px 2px 235px -11px rgba(0,0,0,0.93);
      -moz-box-shadow: 30px 2px 235px -11px rgba(0,0,0,0.93);
      transition: 1s;
      &:hover{ 
        transform: rotate(3deg);
      }
    }
  
    .textologoquienes {
      display: flex;
      flex-wrap: wrap;
      width: 60%;
      margin-top: 20%;
      justify-content: center;
    }
  
    .conoceprofesionales {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      margin-top: 50px;
    }
  
    .imagenesqs {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 50%;
      margin-top: 50px;
      margin-left: 25%;
    }
  
    .textoimagenesqs {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      text-align: center;
      align-items: center;
    }
    //FIN QUIENES SOMOS
    //INICIO TEST Y EV
  .ptestyev {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 30px 30px;
  }
  
    .ptestyev1 {
      width: 50%;
    }
  
    .testyevto {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin-bottom: 30px;
    }
  
    .relojimg {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      margin: 30px 30px;
      justify-content: flex-end;
      align-items: flex-end;
    }
  
    .parrafostyv {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 30px;
    }
  
    .relojes {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    //FIN TEST Y EV
    //INICIO CONTACTANOS
  
  .p1contactanos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: large;
    text-align: left;
    margin-bottom: 30px;
  }
  
  .contenedor-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
  
    .form-interno {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
    }
  
    .form-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  //FIN CONTACTANOS